* {
    margin: 0;
    padding: 0;
    /* background: #E5E5E5; */
    
}
#link-instagram{
    text-decoration: none;
    color: #BB99DD;
}

body{
    height: 100%;
    width: 100%;
    background: #E5E5E5;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.informacoes{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.perfil {
    width: 200px;
    height: 200px;
    border: 2px solid #BB99DD;
    border-radius: 360px;
    padding: 5px;
}

button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #BB99DD;
    background: #E5E5E5;
    width: 350px;
    border: 2px solid #BB99DD;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #BB99DD;
}

.icons{
    display: flex;
    margin: 30px;
    gap: 29px;
}